$color-MJ: #fff;
$bg-color: #f5f6f7;
$title-color: #16a085;
$font-color: #373737;
$btn-color: #fff;
$btn-bgcolor: #16a085;
$btn-hover-bgcolor: #147d68;
$transition-time: 0.5s;

body {
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

button, .sm-icon {
    cursor: pointer;
    padding: 10px 20px;
    width: 140px;
    min-height: 40px;
    font-size: 12px;
    font-weight: 500;
    background-color: $btn-bgcolor;
    border-radius: 5px;
    border: none;
    color: $btn-color;
    transition: $transition-time;
    &:hover {
        background-color: $btn-hover-bgcolor;
    }
}
h1{
    font-size: 36px;
    letter-spacing: 5px;
}
h7 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 3px;
    color: $title-color;
}
p {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
}
.btn-arrow {
    a {
        padding-left: 10px;
        color: $font-color;
        font-weight: 800;
        font-size: 25px;
        &:hover {
            text-decoration: none;
        }
    }
}

// Main jumbotron ---------------------------------------------------------
.main-jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background: url(https://raw.githubusercontent.com/conspir0/3.yourlife-website/master/images/main-jumbotron/main-jumbotron.png) center/cover no-repeat;
    color: $color-MJ;
    
    // Navigation
    nav {
        max-width: 1000px;
        margin: auto;
        button {
            width: auto;
            &:hover {
                background-color: inherit;
                opacity: 0.5;
            }
        }
        ul {
            width: 100%;
            justify-content: center;
            li {
                display: flex;
                align-items: center;
                width: 20%;
                margin: auto;
                padding: 15px 0;
                a {
                    text-align: center;
                    width: 100%;
                    font-weight: bold;
                    line-height: 20px;
                    letter-spacing: 5px;
                    color: $color-MJ;
                    transition: $transition-time;
                    &:hover {
                        font-size: 20px;
                        text-decoration: none;
                        text-shadow: 0 0 10px $color-MJ;

                    }
                }
            }
        }
    }
    .navbar-dark .navbar-toggler-icon { 
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
    }
    .hide-menu {
        display: none;
    }
    
    // Main jumbotron content
    .main-jumbotron-content {
        height: calc(100vh - 180px);
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
        h7 {
            color: $color-MJ;
            font-weight: 100;
        }
        button {
            margin: 0 auto;
        }
    }
    
    // Social media
    .social-media {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
        margin-bottom: 20px;
        .sm-icon {
            height: 20px;
            width: 23px;
            margin: 20px;
            transition: 2s;
            &:hover {
                transform: rotate(360deg);
            }
        }
        .twitter {
            background: url(https://raw.githubusercontent.com/conspir0/3.yourlife-website/master/images/small-icons/fa-twitter.png) center no-repeat;
        }
        .flickr {
            background: url(https://raw.githubusercontent.com/conspir0/3.yourlife-website/master/images/small-icons/fa-flickr.png) center no-repeat;
        }
        .dribbble {
            background: url(https://raw.githubusercontent.com/conspir0/3.yourlife-website/master/images/small-icons/fa-dribbble.png) center no-repeat;
        }
    }
}

// Article hand ---------------------------------------------------------
.hand {
    background-color: $bg-color;
    height: 500px;
    overflow: hidden;
    .col-box {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        height: 100%;
        p {                
            margin-bottom: 30px;
        }
    }
    .col-phone-hand {
        position: relative;
        img {
            position: absolute;
            right: 5%;
            bottom: -410px;
            transition: 3s;
        }
    }
}

// Slide text ---------------------------------------------------------
.slide-text {
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    overflow: hidden;
    img {
        position: absolute;
        bottom: -170px;
    }
    .slider {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 400px;
        padding: 50px 20px 50px 50px;
        p {
            text-align: justify;
            margin: 30px 30px 0 0;
            
        }
        button {
            margin-top: 20px;
        }
    }
    .btn-arrow {
        a:first-child {
            padding-left: 50px;
        }
    }
}

// Gallery ---------------------------------------------------------
.gallery {
    display: flex;
    align-items: center;
    min-height: 500px;
    height: 100%;
    background-color: $bg-color;
    .col-text {
        display: flex;
        flex-direction: column;
        padding: 50px;
        text-align: center;
        img {
            margin: 0 auto 30px;
            height: 60px;
            width: 60px;
        }
        h7 {
            font-weight: 400;
        }
    }
    .col-gallery {
        .btn-arrow {
            float: right;
        }
        .slider-gallery {
            display: flex;
            justify-content: space-between;
            img {
                margin-left: 20px;
                width: 340px;
                &:hover {
                    filter: grayscale(70%);
                }
            }
        }
    }
}


@media (max-width: 1199px) {
    .gallery {
        .col-gallery .slider-gallery img {
        height: 95%;
        width: 320px;
        }
        .col-text {
            img {
                margin-bottom: 10px;
            }
            h7 {
                margin-bottom: 10px;
            }
            p {
                line-height: 17px;
            }
        }
    }
}

@media (max-width: 992px) {
    .hand .col-phone-hand img {
        right: 10%;
        bottom: -360px;
        height: 150%;
    }
    .gallery .col-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .hand .col-phone-hand img {
        height: 120%;
        bottom: -310px;
    }
    .slide-text .col-phone {
        display: none;
    }
    .gallery .col-gallery {
        .slider-gallery {
            flex-direction: column;
            justify-content: center;
            img {
                margin: 10px auto;
                height: 80%;
                width: 80%;
            }
        }
        .btn-arrow {
            margin: auto;
            text-align: center;
            float: none;
            a {
                padding: 5px;
            }
        }
    }      
}

@media (max-width: 576px) {
    .hand .col-box {
        text-align: center;
        p {
            font-size: 9px;
        }
        button {
            margin: 0 auto;
        }
    }
}